---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  labels:
    istio.io/expose-istiod: "15012"
    topology.istio.io/cluster: {{ cluster }}
    topology.istio.io/network: {{ network }}
    topology.kubernetes.io/region: {{ region }}
    topology.kubernetes.io/zone: {{ zones[0] }}
{%- if istio_revision %}
    istio.io/rev: {{ istio_revision }}
{%- endif %}
  name: {{ eastwest_gateway }}
  namespace: {{ eastwest_namespace }}
spec:
  gatewayClassName: {{ eastwest_gateway_class }}
{%- if solo_multicluster_enabled %}
  listeners:
  - name: cross-network
    port: 15008
    protocol: HBONE
    tls:
      mode: Passthrough
  - name: xds-tls
    port: 15012
    protocol: TLS
    tls:
      mode: Passthrough
{%- endif %}
{%- if oss_multicluster_enabled %}
  listeners:
  - name: mesh
    port: 15008
    protocol: HBONE
    tls:
      mode: Terminate # represents double-HBONE
      options:
        gateway.istio.io/tls-terminate-mode: ISTIO_MUTUAL
{%- endif %}
{%- if istio_126_enabled %}
  infrastructure:
    labels:
      app: {{ eastwest_gateway }}
    parametersRef:
      group: ""
      kind: ConfigMap
      name: {{ eastwest_gateway }}-gw-params
{%- endif %}
...
