---
apiVersion: v1
kind: Service
metadata:
{%- if ambient_enabled %}
  annotations:
    networking.istio.io/traffic-distribution: {{ istio_traffic_distribution }}
{%- endif %}
  name: {{ helloworld_service_name }}
  namespace: {{ helloworld_namespace }}
  labels:
    app: helloworld
    service: {{ helloworld_service_name }}
{%- if ambient_enabled and solo_multicluster_enabled %}
    solo.io/service-scope: global
{%- endif %}
spec:
  ports:
  - name: http
    port: {{ helloworld_service_port }}
    targetPort: {{ helloworld_container_port }} ### http # named port does not work for ambient mc {{ peering_discover_suffix }}
  selector:
    app: helloworld
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: helloworld
  namespace: {{ helloworld_namespace }}
{%- for zone in zones %}
---
apiVersion: apps/v1
kind: Deployment
metadata:
{% if interop_enabled %}
  name: helloworld-{{ zone }}-am
{% else %}
  name: helloworld-{{ zone }}
{% endif %}
  namespace: {{ helloworld_namespace }}
  labels:
    app: helloworld
{% if interop_enabled %}
    version: v{{ helloworld_service_version }}am
{% else %}
    version: v{{ helloworld_service_version }}
{% endif %}
spec:
  replicas: {{ helloworld_size }}
  selector:
    matchLabels:
      app: helloworld
{% if interop_enabled %}
      version: v{{ helloworld_service_version }}am
{% else %}
      version: v{{ helloworld_service_version }}
{% endif %}
  template:
    metadata:
      labels:
        app: helloworld
{% if interop_enabled %}
        version: v{{ helloworld_service_version }}am
        istio.io/dataplane-mode: ambient
{% else %}
        version: v{{ helloworld_service_version }}
{% endif %}
    spec:
      serviceAccountName: helloworld
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values:
                - {{ zone }}
      containers:
      - name: helloworld
        env:
        - name: SERVICE_VERSION
{% if interop_enabled %}
          value: v{{ helloworld_service_version }}am
{% else %}
          value: v{{ helloworld_service_version }}
{% endif %}
        - name: ZONE
          value: {{ zone }}
        - name: REGION
          value: {{ region }}
        - name: SERVER_PORT
          value: '{{ helloworld_container_port }}'
        image: vincentjorgensen/rust-helloworld:0.1.3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{ helloworld_container_port }}
          name: http
        resources:
          limits:
            cpu: 3m
            memory: 40Mi
          requests:
            cpu: 1m
            memory: 20Mi
{% if interop_enabled %}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld-{{ zone }}-sc
  namespace: {{ helloworld_namespace }}
  labels:
    app: helloworld
    version: v{{ helloworld_service_version }}sc
spec:
  replicas: {{ helloworld_size }}
  selector:
    matchLabels:
      app: helloworld
      version: v{{ helloworld_service_version }}sc
  template:
    metadata:
      labels:
        app: helloworld
        version: v{{ helloworld_service_version }}sc
        istio.io/rev: main
    spec:
      serviceAccountName: helloworld
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values:
                - {{ zone }}
      containers:
      - name: helloworld
        env:
        - name: SERVICE_VERSION
          value: v{{ helloworld_service_version }}sc
        - name: ZONE
          value: {{ zone }}
        - name: REGION
          value: {{ region }}
        - name: SERVER_PORT
          value: '{{ helloworld_container_port }}'
        image: vincentjorgensen/rust-helloworld:0.1.3
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: {{ helloworld_container_port }}
          name: http
        resources:
          limits:
            cpu: 3m
            memory: 40Mi
          requests:
            cpu: 1m
            memory: 20Mi
{% endif %}
{% endfor %}
...
